footer#footer
	.mountains
		.wrap-inner
	.wrap
		.wrap-inner
			.copyright
				| &copy; 1999&mdash;2015 ООО&nbsp;&laquo;Кругозор&raquo;
			.copyright
				| Дизайн: <a href="http://grigza.com" target="_blank">grigza</a>, верстка и программирование: <a href="http://shurochkin.com" target="_blank">shurochkin</a>


