meta(charset='utf-8')

link(rel='shortcut icon' href="img/favicon.png" type="image/x-icon")
link(rel='icon' href="img/favicon.png" type="image/x-icon")
link(rel='stylesheet' href='lib/font-awesome.min.css')
link(rel='stylesheet' href='lib/fancybox/jquery.fancybox.css')
link(rel='stylesheet' href='css/app.css?ver=20150218')
<!— Сleversite chat button —><script type='text/javascript'>(function() { var s = document.createElement('script');s.type = 'text/javascript'; s.async = true; s.src = '//cleversite.ru/cleversite/widget_new.php?referer_main='+encodeURIComponent(document.referrer)+'&clid=3816brNED&site=1'; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss); })(); </script><!— / End of Сleversite chat button —>