h3 Распорядок дня

p Режим дня составляется на каждый день для каждой группы в отдельности. Здесь мы предоставляем обобщенный план, с указанием особенностей режима нашего сада, которые в той или иной форме, с учетом возрастных особенностей, проходят во всех группах детского сада.

dl
	dt <time>8:00</time>Встреча детей
	dd встреча детей и родителей, осмотр детей, общение воспитателя с детьми: индивидуальные беседы, игры для общения и создания настроения у детей, утренняя гимнастика

	dt <time>8:40</time>Завтрак

	dt <time>9:20</time>Практика «Утренний слет»

	dt <time>9:40</time>Работа в центрах активности 
	dd в соответствии с интересами ребенка

	dt <time>10:20</time>Ланч

	dt <time>10:30</time>Занятия 
	dd Согласно расписанию, ребенок посещает одно дополнительное занятия в день (развитие речи, логико-математическое развитие, музыкальное развитие, этикет, изобразительная деятельность, физкультурно-оздоровительные занятия, ритмопластика)

	dt <time>11:00</time>Прогулка на свежем воздухе

	dt <time>12:30</time>Обед
	dd Подготовка к обеду, обед

	dt <time>13:00</time>Дневной сон 
	dd Подготовку ко сну, дневной сон

	dt <time>15:00</time>Пробуждение
	dd Постепенный выход из сна, спокойные игры, пробуждающая гимнастика после сна, воздушные и водные процедуры, оздоровительные мероприятия; Общение по интересам.

	dt <time>15:45</time>Полдник
	dd в соответствии с интересами ребенка

	dt <time>16:00</time>Игры
	dd Игры, театрализация, кукольный театр, инсценировки с игрушками, выбор самостоятельной деятельности в центрах активности

	dt <time>17:00</time>Ужин

	dt <time>17:30</time>Занятия в детском клубе
	dd Вечерние занятия у детей, посещающих дополнительные секции и студии; свободная игровая деятельность или прогулка на свежем воздухе.

	dt <time>19:00</time>Завершение работы детского сада
