li
	a(href='http://www.facebook.com/groups/686727098083470/' target="_blank") 
		i.fa.fa-facebook
li
	a(href='http://twitter.com/krugosvet_spb' target="_blank") 
		i.fa.fa-twitter
li
	a(href='http://instagram.com/krugosvet_spb' target="_blank") 
		i.fa.fa-instagram
li
	a(href='http://vk.com/krugosvet_spb' target="_blank") 
		i.fa.fa-vk
