- var page = 'dopuslugi'
doctype
html#dopuslugi
	head
		title Дополнительные услуги | Детский сад "Кругосвет" в Рыбацком
		include ./templates/head.jade



	body#home
		include ./templates/contact.jade
		
		#page
			include ./templates/header.jade

			#content
				.wrap
					section#top
						div.content
							h2.sweet 
								i Дополнительные<br>услуги
								i
								i

					section#main-content
						h2 Раздел в стадии наполнения

			include ./templates/footer.jade


	include ./templates/scripts.jade
