doctype
html#index
	head
		title Детский сад "Кругосвет" в Рыбацком
		include ./templates/head.jade
		script.
			var homepage = true;


	body#home
		include ./templates/contact.jade
		#page
			include ./templates/header.jade

			#content
				.wrap
					section#happy-kids
						aside#today
							.schedule
								.inner
									h3 Сегодня в детском клубе
									ul
									i.fa.fa-list-ul
									a(href="club.html") Расписание клуба


							.blog
								.inner
									.feed
									i.fa.fa-comment
									a(href="blog.html") Блог &laquo;Кругосвета&raquo;
						div.content
							h2.sweet
								i Чтобы
								i дети были
								i счастливы

							figure#plane
								a(href="#video") Смотреть видео
								#video.hide
									iframe(src="//vk.com/video_ext.php?oid=-64663721&id=170862215&hash=e21255620e3c5245&hd=1" width="640" height="360"  frameborder="0")

					
					section#values
						h5 Наши ценности
						.row
							.b1
								h3 Вера<br>в возможности<br>ребенка
								p Мы учитываем индивидуальные и личностные особенности ребенка и даем ребенку самому принимать решения и экспериментировать во всех ситуациях, где это возможно.
								figure
							.b2
								h3 Комфортная<br>среда
								p Мы позаботились о комфорте ребенка во всем – от удобной мебели, групповых пространств облегчающих восприятие информации, до вкусной еды и доброжелательного общения между всеми детьми, деликатно направляе­мого психологами, воспитателями и наставниками.
								figure
							.b3
								h3 Сотрудничество
								p Мы работаем в тесном сотрудничестве ребенок – родитель — педагог, учитываем мнение каждого участника и учимся вместе с детьми. Общение, взаимное уважение, принятие различий и признание важности интересов ребенка создают основу для плодотворного взаимодействия.
								figure

					section#features
						h5 Наши особенности
						dl
							dt Квалифицированный<br>персонал
							dd Все необходимые сертифицированные специалисты для полного сопровождения ребенка в период посещения детского сада, в период подготовки к нему и в условиях домашнего воспитания.

							dt Четыре<br>в одном
							dd Детский сад, и консультативный центр по всем вопросам развития детей, и творческая мастерская для взрослых и детей, и семейный клуб.

							dt Нестандартные<br>групповые занятия 
							dd Доказано, что в групповом поле ребенок (и взрослый) развивается лучше, поэтому мы разработали целую программу групповых занятий с детьми и родителями. Мы хотим, чтобы наши дети развивались хорошо и своевременно.

							dt Возможности для детей<br>с особыми потребностями
							dd Возможности для детей с особыми потребностями и их семей, квалифицированные детские массажисты, психологи и педагоги.

					section#interior
						h5 Интерьер
						h2.sweet
							i Для удобного
							i обучения
							i и воспитания
						p.intro Мы создали детский центр, сочетающий в себе комфортные условия, высокую технологичность, познавательно обогащённую среду, современный дизайн и качественные экологические материалы.
						.row
							aside
								.top
									h3 Материалы
									p Все игрушки и образовательные материалы гипоаллергенны, а основная мебель, с которой соприкасается ребенок, сделана из массива сосны.
								.bottom
									h3 Дизайн
									p Интересный, спокойный дизайн, позволяет отправиться ребенку в кругосветное путешествие, окунуться в мир интересных событий и новых знаний.
							ul.slider
								- var n = 1
								while n <= 22
									li
										img(src='img/interior/#{n}.jpg')
									- n++
							.slider-controls
								span.slider-prev
								.slider-pager
								span.slider-next





					section#teachers
						h5 Педагоги
						p.intro У нас работают опытные воспитатели, педагоги, психологи, умеющие найти подход к каждому ребенку, любящие жизнь и свое дело.
						.photo
							figure.item
								img(src='img/stuff/1.jpg')
								dl
									dt Нарышкина<br>Анастасия Александровна
									dd Генеральный директор
							figure.item
								img(src='img/stuff/2.jpg')
								dl
									dt Федына<br>Наталья Валерьевна
									dd психолог-методист
							figure.item
								img(src='img/stuff/3.jpg')
								dl
									dt Паршутина<br>Виктория Алексеевна
									dd воспитатель
							figure.item
								img(src='img/stuff/4.jpg')
								dl
									dt Митина<br>Ирина Петровна
									dd воспитатель
							figure.item
								img(src='img/stuff/5.jpg')
								dl
									dt Кондулайнен<br>Наталья Алексеевна
									dd воспитатель
							figure.item
								img(src='img/stuff/6.jpg')
								dl
									dt Люсова<br>Татьяна Леонидовна
									dd воспитатель
						section#teachers-slider
							ul.slider
								li
									.item
										.desc
											article
												h3 Образование 
												dl
													dt <time>с 2011</time>Институт образования взрослых Российской Академии образования
													dd Научная лаборатория методологии, истории и качества педагогического образования

													dt <time>2009-2011</time>СПбГУ Факультет искусств и гуманитарных наук
													dd Межкультурное образование и образовательный менеджмент

													dt <time>2005-2009</time>СПбГУ Факультет филологии и искусств
													dd Социология

													dt <time>2005-2009</time>Bard College
													dd Social studies, bachelor

												h3 Повышение квалификации и курсы
												dl
													dt Образовательный центр «Участие» + РОСНАНО
													dd Международная образовательная программа<br>(инновационное образование, технопредпринимательство,нанотехнологии)

													dt Сertificate of Advanced Study in Intercultural Education


												h3 Опыт работы
												dl
													dt Университет Российской академии образования (ИППО РАО)
													dd научный сотрудник

													dt ГБОУ СОШ  № 225 Адмиралтейского района
													dd заместитель директора по воспитательной работе

													dt Школьная лига РОСНАНО
													dd консультант стажерской площадки, педагог организатор

													dt ГБОУ Гимназия № 278 Адмиралтейского района
													dd педагог исследователь–сотрудник информационного центра, учитель английского языка, методист

										.photo
											img(src='img/stuff/1.jpg')

										.title
											article
												dl
													dt Нарышкина<br>Анастасия<br>Александровна
													dd директор
								li
									.item
										.desc
											article
												h3 Образование 
												dl
													dt <time>с 2011</time>Институт педагогического образования и образования взрослых
													dd Научная лаборатория методологии, истории и качества педагогического образования

													dt <time>2007</time>Академия постдипломного педагогического образования
													dd Практический психолог, преподаватель психологии

													dt <time>2004</time>Российский государственный педагогический университет имени А. И. Герцена
													dd Олигофренопедагог


												h3 Повышение квалификации и курсы
												dl
													dt Citi Business School
													dd Тайм-менеджмент. Делегирование полномочий

													dt Образовательный центр «Участие»
													dd Открытое образование: технологии новой школы. Учебные тексты эпохи нано

												h3 Опыт работы
												dl
													dt <time>2007 – 2013</time>ГБОУ школа №569 Невского района
													dd Педагог-психолог

													dt <time>2004 – 2007</time>ГБОУ школа №331 Невского района
													dd Педагог-психолог

													dt <time>1998 – 2004</time>ДОУ Невского района № 121 и 142
													dd Помощник воспитателя и воспитатель


										.photo
											img(src='img/stuff/2.jpg')

										.title
											article
												dl
													dt Федына<br>Наталья<br>Валерьевна
													dd психолог-методист
								li
									.item
										.desc
											article
												h3 Образование 
												dl
													dt Тульский Государственный Педагогический Университет им. Л.Н.Толстого
													dd Историк, учитель истории и права

													dt Тульский Областной Колледж Культуры и Искусства
													dd Народное Художественное Творчество<br>Социально-культурная деятельность и народное хоровое творчество

												h3 Опыт работы
												dl
													dt Дворец Детского Юношеского творчества г. Тула
													dd Педагог дополнительного образования, руководитель фольклорного коллектива «Денница»

													dt Киноконцертный зал «Орион»
													dd Концертмейстер народного ансамбля «Берегиня»

													dt Летний оздоровительный лагерь
													dd Воспитатель


										.photo
											img(src='img/stuff/3.jpg')

										.title
											article
												dl
													dt Паршутина<br>Виктория<br>Алексеевна
													dd воспитатель
								li
									.item
										.desc
											article
												h3 Образование 
												dl
													dt Российский государственный педагогический университет имени А. И. Герцена
													dd Олигофренопедагог учитель школьных и дошкольных образовательных учреждений для детей с задержкой психического развития

												h3 Опыт работы
												p Общий стаж работы 15 лет
												ul
													li работа с младшими школьниками с ЗПР в качестве воспитателя ГПД
													li работа с дошкольниками с ЗПР в качестве дефектолога
													li работа в качестве учителя-дефектолога с детьми младшего школьного возраста с нарушениями интеллекта, класс «Особый ребенок»
													li работа в качестве педагога развивающих занятий детей дошкольного возраста
													li подготовка к школе детей младшего школьного возраста (обучение грамоте, развитие речи, подготовка руки к письму, обучение чтению, формирование математических представлений, развитие познавательных процессов)

										.photo
											img(src='img/stuff/4.jpg')

										.title
											article
												dl
													dt Митина<br>Ирина Петровна
													dd воспитатель
								li
									.item
										.desc
											article
												h3 Образование 
												dl
													dt <time>2001</time>Российский государственный педагогический университет имени А. И. Герцена
													dd Педагогика, учитель начальных классов

												h3 Повышение квалификации и курсы
												dl
													dt Академия постдипломного педагогического образования
													dd Реализация стандартов второго поколения в литературном образовании

													dt Академия постдипломного педагогического образования
													dd Проектирование современного урока

													dt Образовательный центр «Участие»
													dd Открытое образование: технологии новой школы. Учебные тексты эпохи нано

												h3 Опыт работы
												dl
													dt <time>2008</time>ГДОУ Детский сад № 92 комбинированного вида Невского района
													dd Помощник воспитателя

													dt <time>2010</time>ГОУ СОШ №641 Невского района
													dd Воспитатель группы продленного дня, ведение курсов подготовки детей к школе

													dt <time>2011</time>ГБОУ СОШ № 39 Невского района
													dd Учитель начальных классов

													dt <time>2014</time>ГБОУ СОШ № 328 Невского района
													dd Учитель начальных классов


										.photo
											img(src='img/stuff/5.jpg')

										.title
											article
												dl
													dt Кондулайнен<br>Наталья Алексеевна
													dd воспитатель
								li
									.item
										.desc
											article
												h3 Образование 
												dl 
													dt Педагогическое училище №8
													dd Среднее специальное

												h3 Повышение квалификации и курсы
												dl
													dt Особенности развития ребенка 
													dd в речевых группах дошкольного образовательного учреждения

													dt Детский сад-дом радости
													dd Средняя и старшая группа

													dt Подготовка детей к школе на основе мнемотехники

													dt Развитие ребенка в конструктивной деятельности

												h3 Опыт работы
												p Общий стаж работы воспитателем: 33 года


										.photo
											img(src='img/stuff/6.jpg')

										.title
											article
												dl
													dt Люсова<br>Татьяна<br>Леонидовна
													dd воспитатель


							.slider-controls
								span.slider-prev
								.slider-pager
								span.slider-next
								span.close
									a(href='#')
										i.fa.fa-times-circle


						aside
							.welcome
								h3 Добро пожаловать!
								p Мы всегда рады профессионалам в&nbsp;нашей команде
								i.fa.fa-file-text-o
								a(href="mailto:kids@krugosvet.spb.ru?subject=Резюме") Подать резюме
						.clearfix



			include ./templates/footer.jade

		#parallax
			#parallax-bg1.animated.fadeInDown.delay-0
				img(src='svg/main/balloon.svg')
			#parallax-bg2.animated.fadeInDown.delay-0
				img(src='svg/main/head_clouds.svg')
			#parallax-bg3
				img.cl2(src='svg/main/2_clouds.svg')
				img.cl3(src='svg/main/3_clouds.svg')
				img.cl4(src='svg/main/4_clouds.svg')
				img.cl5(src='svg/main/5_clouds.svg')
			#parallax-bg4
				img.bird(src='svg/main/2_bird.svg')
				img.zepp(src='svg/main/2_zeppelin.svg')
				img.par(src='svg/main/3_parachute.svg')
			#parallax-bg5
				img(src='svg/main/2_plane.svg')
			#parallax-bg6
				img(src='svg/main/5_stirhy.svg')
			#parallax-bg7
				



	include ./templates/scripts.jade
	script(src='lib/jquery-rss/jquery.rss.min.js')
	script.
		$("#today .blog .feed").rss("http://Krugosvet-spb.livejournal.com/data/rss",{
			limit: 1,
			layoutTemplate: '<div>{entries}</div>',
			entryTemplate: '<div class="item"><a href="#post-{index}"><h3>{title}</h3><p>{shortBody}</p></a><div id="post-{index}" class="full-text"><h3>{title}</h3><p>{body}</p></div></div>'
		}, function(){
			$('#today .blog .feed .item a').fancybox({
				minWidth: 930,
				maxWidth: 930
			})
		})

