- var page = 'programm'
doctype
html#programm
	head
		title Программа | Детский сад "Кругосвет" в Рыбацком
		include ./templates/head.jade



	body#home
		include ./templates/contact.jade
		
		#page
			include ./templates/header.jade

			#content
				.wrap
					section#top
						aside
							.schedule
								.inner
									h3 Распорядок дня
									ul
										li
											time 8:00
											| Встреча детей
										li
											time 8:40
											| Завтрак
										li
											time 9:20
											| Практика «Утренний слет»
										li
											time 9:40
											| Работа в центрах активности
										li
											time 10:20
											| Ланч
										li
											time 10:30
											| Занятия
										li
											time 11:00
											| Прогулка на свежем воздухе
										li
											time 12:30
											| Обед
										li
											time 13:00
											| Дневной сон
										li
											time 15:00
											| Пробуждение
										li
											time 15:45
											| Полдник
										li
											time 16:00
											| Игры
										li
											time 17:00
											| Ужин
										li
											time 17:30
											| Занятия в детском клубе
										li
											time 19:00
											| Завершение работы детского сада
									i.fa.fa-list-ul
									a(href="#details") Подробный распорядок
						h2.sweet 
							i Программа
							i
							i
	
					
					section#values
						h5 Образовательная программа
						.row
							.b1
								h3 Авторы
								p Среди авторов — лучшие петербургские специалисты в сфере дошкольного образования
								figure
							.b2
								h3 Международная<br>программа<br>Step&nbsp;By&nbsp;Step
								p При разработке мы ориентировались на опыт зарубежных коллег и программу Step By Step («Сообщество»), работающую уже в 26 странах мира. 
								figure
							.b3
								h3 Рекомендовано<br>министерством<br>образования РФ
								p Единственная в России программа непрерывного образования рекомендована Министерством общего и профессионального образования РФ.
								figure

					section#features
						dl
							dt В чём идеологическая суть программы?
							dd Идея о праве каждого ребёнка на собственный путь развития.

							dt В чём цели программы?
							dd Раскрыть потенциал каждого ребёнка, воспитать активную личность, которая сможет реализовать себя.

							dt На какой возраст ориентировано?
							dd До 9 лет.

							dt Каковы принципы программы?
							dd Индивидуальный подход, свобода выбора, участие семьи, многогранность развития (интеллектуальное, физическое, чувственно-эмоциональное, социально-коммуникативные навыки).

							dt Какие технологии используются?
							dd Наблюдение, запись, планирование, разделение пространства, творческий подход.

						p.intro.
							Это означает, что все взрослые, вовлечённые в программу, постоянно наблюдают за ребёнком, письменно фиксируя события. 
							На основе этого создаётся частная программа развития с целями — ближайшими (дни) и долгосрочными (месяцы). 
							Групповое пространство поделено на центры активности по разным занятиям и играм. 
							Ребёнок сам выбирает, чего он сегодня хочет: заниматься с воспитателем в центре математики, развивать речь или играть в манипулятивные игры. 
							Придать дополнительный интерес помогает атмосфера игры и сказки.





			.hide
				#schedule
					include ./templates/schedule.jade

			include ./templates/footer.jade


	include ./templates/scripts.jade
